.pagination {
    position: absolute;
    right: 20px;
    color: white;
}

/* .paginate-item {
    font-size: 30px;
    width: 40px;
    text-align: center;
    border-radius: 3px;
    background-color: #2970F4;
    border: 0;
    color: white;
}

.paginate-item:hover:not(.active) {
    background-color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
} */

.btn-chevron {
    width: 34px;
    height: 34px;
    background-color: #2970F4;
    border: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-chevron {
    height: 16px;
    width: auto;
    margin: 0 0 5px -3px;
}

.paginate-text {
    margin: 0 10px 0 10px;
    font-size: 16px;
    font-weight: 600;
    align-self: center;
}